---
import consts from "../data/consts.json";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Tabs from "../components/Tabs.astro";
import "../styles/global.css";
---

<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

<html lang="en">
  <head>
    <BaseHead title={consts.title} />
  </head>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl">
      <Header />
      <div class="px-4 py-5 sm:p-6">
        <div class="sm:flex">
          <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
            <img
              class="inline=block h-55 w-55 rounded-md"
              src="/jade.png"
              alt="Jade Sudell"
            />
          </div>
          <div class="px-2 pb-0">
            <p class="mt-0 max-w-4xl text-sm text-gray-500">
              I'm passionate about delivering high quality applications through
              a combination of manual and automated testing - you can't have one
              without the other in my opinion!
            </p>
            <p class="mt-7 max-w-4xl text-sm text-gray-500">
              In addition to 'all things testing', I also like to coach
              engineering teams in Agile best practices, and encourage a
              positive working culture.
            </p>
          </div>
        </div>
        <Tabs />
      </div>
    </div>
    <Footer />
  </div>
</html>
