---
const { title } = Astro.props;
import consts from "../data/consts.json";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Tabs from "../components/Tabs.astro";
import "../styles/global.css";
---

<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <Header />
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-3xl">
      <!-- First section -->
      <div class="px-4 py-5 sm:px-6">
        <h1
          class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl"
        >
          Hi, I'm Jade.
        </h1>
      </div>
      <!-- Second section -->
      <div class="px-4 py-5 sm:p-6">
        <div class="sm:flex">
          <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
            <img
              class="inline=block h-50 w-50 rounded-md"
              src="/jade.png"
              alt="Jade Sudell"
            />
          </div>
          <div class="pb-5">
            <h3 class="leading text-lg font-medium text-gray-900">About</h3>
            <p class="mt-4 max-w-4xl text-sm text-gray-500">
              I'm passionate about delivering high quality, accessible
              applications.
            </p>
            <p class="mt-4 max-w-4xl text-sm text-gray-500">
              In addition to 'all things testing', I like to coach engineering
              teams in Agile best practices, and creating positive working
              environments.
            </p>
          </div>
        </div>
      </div>
      <!-- Third section -->
      <Tabs />
    </div>
    <Footer />
  </div>
</html>
